* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* spacing */
    --space-xs: 0.5rem;
    --space-s: 1rem;
    --space-ssm: 1.5rem;
    --space-sm: 2rem;
    --space-m: 2.5rem;
    --space-l: 5rem;

    /* colors */
    --primary-color: #F4EEFF;
    --secondary-color: #DCD6F7;
    --tertiary-color: #A6B1E1;
    --quaternary-color: #424874; 

}

body {
    background-color: var(--primary-color);
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    height: 100vh;
}

.sidebar {
    display: flex;
    flex-direction: column;
    padding: var(--space-s);
    gap: var(--space-l);
    background-color: var(--secondary-color);
}

.sidebar .user-section {
    display: flex;
    align-items: center;
    gap: var(--space-xs);
}

.user-section .account-icon {
    width: 50px;
    cursor: pointer;
}

.user-section .username {
    font-size: 1.25rem;
    font-weight: 700;
}

.lists-section .lists-section-header {
    display: flex;
    align-items: center;
    gap: var(--space-m);
}

.lists-section-header .lists-section-title {
    font-size: 1.5rem;
    font-weight: 700;
}

.lists-section-header button {
    width: 1.25rem;
    cursor: pointer;
    border: none;
    background: none;
}

.lists-section .todo-lists {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    font-size: 1.25rem;
    margin-left: var(--space-sm);
    gap: var(--space-xs);
    cursor: pointer;
}

.new-list-modal {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background: lightgrey;
    padding: var(--space-s);
    gap: var(--space-xs);
    padding: 5px;
    width: 20%;
    height: 13%;
    border-radius: 10px;
    background-color: var(--tertiary-color);

}

.new-list-modal .new-list-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
}

.new-list-form input {
    height: var(--space-ssm);
    background-color: #F0F0F0;
    border: none;
    border-radius: 5px;
    padding: 5px
}

.new-list-form .modal-buttons {
    flex: 1;
    display: flex;
}

.modal-buttons button {
    flex: 1;
    font-weight: 700;
}

.hidden {
    display: none;
}