* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.lists-section .lists-section-header {
    display: flex;
    gap: 5px;
}

.new-list-modal{
    position: fixed;
    top: 50%;
    right: 50%;
    z-index: 1;
    background: lightgrey;
    padding: 1rem;
}

.hidden {
    display: none;
}